<h1>Thank You For Ordering</h1>

<h2>An email with your order has been sent</h2>

<!-- <h3>Chef Handy will contact you shortly to discuss payment and additional information</h3> -->

<a class="btn-btn-warning" href="mailto:clarissabitar@gmail.com?subject=feedback" "email me">Any Questions? Email Us</a>

 <a href="http://hambonesbbq.com/"> Check Out Our Website</a>


