<h1>Thank You For Your Order</h1>

<h2>An email with your order has been sent</h2>

<!-- <h3>Chef Handy will contact you shortly to discuss payment and additional information</h3> -->

<a href="mailto:clarissabitar@gmail.com?subject=feedback" "email me">Any Questions?Email Us</a>

