/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

.log {
  margin: 15px 22px 15px 559px;
  display: inline-block;
}

body {
  background-image: url("http://wallpaper.zone/img/1253690.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
h1, h2, h3, p {
  color: white;
}

.glyphicon-remove {
  color: red;
}

.glyphicon-plus {
  color: green;
}
.navbar {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.72);
}

 a:hover {
  background-color: #ffb942;
}

img {
  border: 0;
  width: 15%;
  margin-left: 10px;
  float: left;
}
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  margin: 20px 7px 24px 0px;
  background-color: #fbb942;
  border: 1px solid #ffb942;
}

.container{
  text-align: left;
}
.table-responsive {
  text-align: left;
}
strong {
  color: #cac8c5;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  float: left;
  color: white;
}

td {
  color:white;
}

th {
  background-color: lightgrey;
  color: #ffb942;
}
.container-od {
  text-align: left;
}
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(13,15,10,0.52);
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
  background-color: rgba(13,15,10,0.52);
}
.form-control {
  display: block;
  width: 24%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
