<h1>The Menu</h1>

<form action="demo_form.asp" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> Baby Back Ribs<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Pulled Pork<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Tri-Tip<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> BBQ Brisket<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Rib Tip<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Links<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Hamburger<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> BBQ Chicken<br>

  <input type="checkbox" name="vehicle" value="Bike"> Baby Back Ribs<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Pulled Pork<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Tri-Tip<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> BBQ Brisket<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Rib Tip<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Links<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> Hamburger<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> BBQ Chicken<br>
  <input type="submit" value="Submit">
</form>
